<div  >
    <div class="container">
        <div class="well" style="width:100%">
            <h1>Contact</h1>
            <form class="form-horizontal" name="contact" style="width:50%">
                <div class="well">
                    <div class="form-group">
                    <input type="text" class="form-control"  placeholder="*Name" ng-model="contactName" required>
                    </div>
                    <div class="form-group">
                    <input type="email" class="form-control"  placeholder="*Email" ng-model="contactEmail" required>
                    </div>
                        <div class="form-group">
                    <textarea rows="4" cols="40" class="form-control" placeholder="*Message" ng-model="contact Message"></textarea>
                        </div>
                    <div class="form-group">
                        <div class=" col-lg-6">
                            <button type="submit" class="btn" ng-click="send()"> <span class="fa fa-paper-plane-o"></span> Send</button>
                        </div>
                </div>


            </form>
        </div>
    </div>










</div>